#box{
    background-color: grey;
    margin: auto;
    width: 300px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px;
    border-radius: 5px;
}

#header {
    height: 80px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#logout{
    text-decoration: underline;
    color: black;
    margin-left: 10px;
    font-size: 16px;
}

#logout:hover{
    opacity: 60%;
}

#header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}

#content {
    margin-left: 20px;
}

#content h1{
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 5px 5px 20px ;
}